### Cleaning the Box Office Mojo Table

In [15]:
import pickle
import pandas as pd
import string
import numpy as np

In [2]:
# open list of foreign films df
with open('dirty_for_table.pk1', 'r') as picklefile:
    df = pickle.load(picklefile)

In [3]:
# clean up rows that are not movies
# have words in the 'rank' column

drop_list = ['Rank', 'TOTAL (All Movies):',
            'AVERAGE (All Movies):', 'TOTAL(Wide Releases Only):',
            'AVERAGE(Wide Releases Only):']

df = df[~df['rank'].isin(drop_list)]

In [4]:
df['title'] = df['title'].apply(lambda x: x.split('(')[0])

In [5]:
df.head()

,rank,title,studio,gross,theatres_life,opening,theaters_opening,date
1,1,"Crouching Tiger, Hidden Dragon",SPC,"$128,078,872","2,027","$663,205",16,12/8/00
2,2,Life Is Beautiful,Mira.,"$57,563,264","1,136","$118,920",6,10/23/98
3,3,Hero,Mira.,"$53,710,019","2,175","$18,004,319","2,031",8/27/04
4,4,Instructions Not Included,LGF,"$44,467,206",978,"$7,846,426",348,8/30/13
5,5,Pan's Labyrinth,PicH,"$37,634,615","1,143","$568,641",17,12/29/06

In [42]:
df['gross'] = df['gross'].apply(lambda x: str(x).translate(None, string.punctuation))
df['gross'][df.gross == 'na'] = np.nan

In [45]:
df['opening'] = df['opening'].apply(lambda x: str(x).translate(None, string.punctuation))
df['opening'][df['opening'] == 'n/a'] = np.nan

In [47]:
df['date'] = df['date'].apply(lambda x: pd.to_datetime(x))

In [48]:
df.head()

,rank,title,studio,gross,theatres_life,opening,theaters_opening,date
1,1,"Crouching Tiger, Hidden Dragon",SPC,128078872,"2,027",663205,16,2000-12-08 00:00:00
2,2,Life Is Beautiful,Mira.,57563264,"1,136",118920,6,1998-10-23 00:00:00
3,3,Hero,Mira.,53710019,"2,175",18004319,"2,031",2004-08-27 00:00:00
4,4,Instructions Not Included,LGF,44467206,978,7846426,348,2013-08-30 00:00:00
5,5,Pan's Labyrinth,PicH,37634615,"1,143",568641,17,2006-12-29 00:00:00

In [49]:
df.tail()

,rank,title,studio,gross,theatres_life,opening,theaters_opening,date
1917,-,Killers,WGUSA,NaN,-,NaN,-,2015-01-23 00:00:00
1918,-,Labyrinth of Lies,SPC,NaN,3,NaN,3,2015-09-30 00:00:00
1919,-,Police Story: Lockdown,WGUSA,NaN,-,NaN,-,2015-06-05 00:00:00
1920,-,A Lonely Hero,Emr.,NaN,-,NaN,-,2015-05-08 00:00:00
1921,-,Number One Fan,Distrib.,NaN,-,NaN,-,2015-09-04 00:00:00

In [50]:
len(df)

1831

In [52]:
with open('clean_mojo_df.pk1', 'w') as picklefile:
    pickle.dump(df, picklefile)