### Get movie table
This is a function that will:
* take a list of urls
* return a table of movie information (not cleaned)

In [9]:
## import libraries
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

In [10]:
# prototype the for loop with one url

url = 'http://www.boxofficemojo.com/genres/chart/?id=foreign.htm'

response = requests.get(url)

The download date for this information is October 1

In [19]:
# return unicode

soup = BeautifulSoup(response.text)

In [20]:
# soup won't be pickled

In [21]:
table1 =  soup.find_all('table')[2].find('table').find_all('tr')

In [22]:
print type(table1[0]) # these are the headers
table1[1] # this is crouching tiger hidden dragon

<class 'bs4.element.Tag'>

<tr bgcolor="#ffffff"><td align="center"><font size="2">1</font></td>\n<td><font size="2"><a href="/movies/?id=crouchingtigerhiddendragon.htm"><b>Crouching Tiger, Hidden Dragon</b></a><br/>(Taiwan)</font></td>\n<td><font size="2"><a href="/studio/chart/?studio=sonyclassics.htm">SPC</a></font></td>\n<td align="right"><font size="2"><b>$128,078,872</b></font></td>\n<td align="right"><font size="2">2,027</font></td>\n<td align="right"><font size="2">$663,205</font></td>\n<td align="right"><font size="2">16</font></td>\n<td align="right"><font size="2"><a href="/schedule/?view=bydate&amp;release=theatrical&amp;date=2000-12-08&amp;p=.htm">12/8/00</a></font></td>\n</tr>

In [8]:
table1_list = []
for line in table1:

AttributeError: 'ResultSet' object has no attribute 'find'

In [43]:
table_body =  soup.find_all('table')[2].find('table')

In [51]:
data = []
for row in table1:
    cols = row.find_all('td')
    cols =[ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

In [53]:
df = pd.DataFrame(data)

In [62]:
# pickle the raw dataframe
with open('main_for_page.pk1', 'w') as picklefile:
    pickle.dump(df, picklefile)

In [63]:
!ls

02-luther_link_list.ipynb get_movie_table.ipynb     url_list.pk1
_site                     main_for_page.pk1
design_draft_format.md    main_page_soup.pk1

In [56]:
df.head()

,0,1,2,3,4,5,6,7
0,Rank,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Date,None,None
1,1,"Crouching Tiger, Hidden Dragon(Taiwan)",SPC,"$128,078,872","2,027","$663,205",16,12/8/00
2,2,Life Is Beautiful(Italy),Mira.,"$57,563,264","1,136","$118,920",6,10/23/98
3,3,Hero(China),Mira.,"$53,710,019","2,175","$18,004,319","2,031",8/27/04
4,4,Instructions Not Included,LGF,"$44,467,206",978,"$7,846,426",348,8/30/13

In [57]:
df.tail()

,0,1,2,3,4,5,6,7
100,100,With a Friend Like Harry(France),Mira.,"$3,830,441",220,"$29,495",2,4/20/01
101,TOTAL (All Movies):,"$1,854,066,637",-,-,-,-,None,None
102,AVERAGE (All Movies):,"$1,046,904",45,"$127,004",25,-,None,None
103,TOTAL(Wide Releases Only):,"$444,621,727",-,-,-,-,None,None
104,AVERAGE(Wide Releases Only):,"$26,154,219","1,313","$8,308,220","1,585",-,None,None

In [60]:
header = df.iloc[0]

In [61]:
print header

0                         Rank
1        Title (click to view)
2                       Studio
3    Lifetime Gross / Theaters
4           Opening / Theaters
5                         Date
6                         None
7                         None
Name: 0, dtype: object

In [64]:
df = df.drop(0)

In [65]:
df.head()

,0,1,2,3,4,5,6,7
1,1,"Crouching Tiger, Hidden Dragon(Taiwan)",SPC,"$128,078,872","2,027","$663,205",16,12/8/00
2,2,Life Is Beautiful(Italy),Mira.,"$57,563,264","1,136","$118,920",6,10/23/98
3,3,Hero(China),Mira.,"$53,710,019","2,175","$18,004,319","2,031",8/27/04
4,4,Instructions Not Included,LGF,"$44,467,206",978,"$7,846,426",348,8/30/13
5,5,Pan's Labyrinth(Mexico),PicH,"$37,634,615","1,143","$568,641",17,12/29/06